# This is  a research notebook to try to find correlation between hyperwave and volume

In [1]:
!pip install --upgrade pip
!pip install quandl

Requirement already up-to-date: pip in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (18.0)
Collecting quandl
  Downloading https://files.pythonhosted.org/packages/d3/70/c05e132321ae2375f26428e7097230b3b735a31d6b78077d5f15b3fb0e6b/Quandl-3.4.2-py2.py3-none-any.whl
Collecting inflection>=0.3.1 (from quandl)
  Downloading https://files.pythonhosted.org/packages/d5/35/a6eb45b4e2356fe688b21570864d4aa0d0a880ce387defe9c589112077f8/inflection-0.3.1.tar.gz
Requirement already satisfied: pandas>=0.14 in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from quandl) (0.20.3)
Requirement already satisfied: six in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from quandl) (1.11.0)
Collecting more-itertools (from quandl)
  Downloading https://files.pythonhosted.org/packages/79/b1/eace304ef66bd7d3d8b2f78cc374b73ca03bc53664d78151e9df3b3996cc/more_itertools-4.3.0-py3-none-any.whl (48kB)
    100% |████████████████████████████████| 51kB 1.3MB/s ta 0:00:01
Requirement already satisfied: requests>=2.7.0 in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from quandl) (2.19.1)
Requirement already satisfied: python-dateutil in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from quandl) (2.7.3)
Requirement already satisfied: numpy>=1.8 in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from quandl) (1.15.1)
Requirement already satisfied: pytz>=2011k in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from pandas>=0.14->quandl) (2017.2)
Requirement already satisfied: idna<2.8,>=2.5 in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from requests>=2.7.0->quandl) (2.6)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from requests>=2.7.0->quandl) (2017.7.27.1)
Requirement already satisfied: urllib3<1.24,>=1.21.1 in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from requests>=2.7.0->quandl) (1.23)
Building wheels for collected packages: inflection
  Running setup.py bdist_wheel for inflection ... done
  Stored in directory: /home/nbuser/.cache/pip/wheels/9f/5a/d3/6fc3bf6516d2a3eb7e18f9f28b472110b59325f3f258fe9211
Successfully built inflection
Installing collected packages: inflection, more-itertools, quandl
Successfully installed inflection-0.3.1 more-itertools-4.3.0 quandl-3.4.2

In [2]:
from datetime import datetime
from scipy.spatial import ConvexHull

import quandl
quandl.ApiConfig.api_key = "cEofBzyzyihN3fj62kp4"

import pandas as pd
import numpy as np

import plotly.plotly as py
import plotly.graph_objs as go
import plotly
plotly.tools.set_credentials_file(username='davzucky', api_key='aZw7LRJOSDcPJyIk2G0U')
# This is to avoid warning when dividing by zero
np.seterr(divide='ignore', invalid='ignore')

{'divide': 'warn', 'invalid': 'warn', 'over': 'warn', 'under': 'ignore'}

In [3]:
# mydata =  pd.DataFrame(quandl.get("FRED/GDP",returns="numpy", collapse="weekly",qopts = { 'columns': ['ticker', 'date', 'close', 'open', 'low', 'high'] },))
# mydata['diff'] = mydata['open'] - mydata['close']

In [4]:
# with pd.option_context('display.max_rows', None, 'display.max_columns', None):
#     display(mydata)

In [5]:
# f = mydata
# # display(f['open'])
# f = f.set_index('date')

# with pd.option_context('display.max_rows', None, 'display.max_columns', None):
#     display(weekly_data )

## This is the place where you setup the symbol and phases

In [52]:
data_3DSystemsCorp ={
    'name':'3D SYSTEMS CORP',
    'data_source':'quandl',
    'symbol':'DDD',
}


data_Valeant = {
    'name':'Baush health Company. Ex Valeant',
    'data_source':'quandl',
    'symbol':'VRX',
}

data_Amazon = {
    'name':'Amazon',
    'data_source':'quandl',
    'data_source':'investopedia',
    'symbol':'AMZN',
}

data_Netflix= {
    'name':'Netflox',
    'data_source':'investopedia',
    'symbol':'NFLX',
}

data_Apple = {
    'name':'Apple',
    'data_source':'investopedia',
    'symbol':'AAPL',
}

data_Intuit = {
    'name':'Intuit',
    'data_source':'investopedia',
    'symbol':'INTU',
}

data_Gilead_Sciences = {
    'name':'Gilead Sciences',
    'data_source':'investopedia',
    'symbol':'GILD',
}

In [53]:
company_setup = data_Valeant
name = company_setup ['name'] 
data_source = company_setup ['data_source'] 
symbol = company_setup ['symbol']

# constant used for other computation
root_date = datetime(1800, 1, 1)

# Helper function 
This section contain helper function that are here to load and clean the raw data

In [61]:

class Investopedia_Loader():
    def __init__(self, symbol, timeframe='weekly'):
        self._symbol = symbol
        self._timeframe = timeframe
    
    def _clean_data(self, df):
        df.loc[:,('date')] = pd.to_datetime(df.loc[:,('Date')])
        df = df.rename(columns={'Adj. Close':'close', 'Low':'low', 'Open':'open', 'High':'high',})
        df = df.set_index('date')
        df['date'] = df.index
        return df

    def _fetch_data(self): 
        url_symbol = "https://www.investopedia.com/markets/api/partial/historical/?Symbol={}&Type=Historical+Prices&Timeframe={}&StartDate=Jan+01%2C+1900".format(self._symbol, self._timeframe)
        df_list = pd.read_html(url_symbol, header=0, parse_dates=True)
        df_price = df_list[0].dropna()
        return df_price
    
    def get_dataframe(self):
        raw_data = self._fetch_data()
        return self._clean_data(raw_data)

class Quandl_Loader():
    def __init__(self, symbol, timeframe='weekly'):
        self._symbol = symbol
        self._timeframe = timeframe

    def _aggregate_ticker_weekly(self, df):    
        open = df.open.resample('W-MON').last()
        close = df.close.resample('W-FRI').last().resample('W-MON').last()
        high = df.high.resample('W-MON').max()
        low = df.low.resample('W-MON').min()
        vol = df.volume.resample('W-MON').sum() 
        
        weekly_data = pd.concat([open, close, high, low, vol], axis=1)
        weekly_data ['date'] = weekly_data .index
        return weekly_data

    def _fetch_daily_data(self):
        daily_tickers = quandl.get_table('WIKI/PRICES', \
                                         ticker = [self._symbol], \
                                         qopts = { 'columns': ['ticker', 'date', 'close', 'open', 'low', 'high', 'volume'] }, \
                                         date = { 'gte': '1900-01-01'}, \
                                         paginate=True) #, 'lte': '2016-12-31' 
        daily_tickers = daily_tickers.set_index('date')
        daily_tickers['date'] = daily_tickers.index
        return daily_tickers
    
    def get_dataframe(self):
        daily_dataframe = self._fetch_daily_data()
        if( self._timeframe == 'daily'):
            return daily_dataframe.dropna()
        
        return self._aggregate_ticker_weekly(daily_dataframe).dropna()

sources = {
    "investopedia": Investopedia_Loader,
    "quandl": Quandl_Loader,
}

def get_historical_data(symbol, source, timeframe='weekly'):
    source_class = sources[source](symbol, timeframe)
    dir(source_class)
    return source_class.get_dataframe()

## Function that allow to calculate the weekid from a start date

In [17]:
def get_nb_weeks(row, base_date = root_date):
    return int((row["date"]-base_date).days/7)

def clean_raw_market_data(df):
#     df.loc[:,('date')] = pd.to_datetime(df.loc[:,('date')])
#     df = df.rename(columns={'Adj. Close':'close', 'Low':'low', 'Open':'open', 'High':'high',})
    df['is_price_closing_up'] = df.close > df.close.shift()
    df['weekId'] = df.apply (lambda row: get_nb_weeks (row),axis=1)
    return df.sort_values(by="date")

def get_weekId_max_price(df):
    return df.ix[ df.loc[:,('close')].argmax()]["weekId"]

In [10]:
def get_weekId_cartesian_product(df):
    df_from = df.loc[:,('weekId',"close")].rename(index=str, columns={"weekId": "weekId_from", "close": "close_from"})
    df_to = df.loc[:,('weekId',"close")].rename(index=str, columns={"weekId": "weekId_to", "close": "close_to"})
    df_cartesian = df_from.assign(foo=1).merge(df_to.assign(foo=1)).drop('foo', 1)

    return df_cartesian [(df_cartesian .weekId_from < df_cartesian .weekId_to)]

# From here we start fetching the data
Above was only about setting up some basic function

In [66]:
# df_daily_price_raw = get_raw_historical_data(symbol, 'Daily')
df_weekly_price_raw = get_historical_data(symbol, data_source, 'Weekly')

df_weekly_price = clean_raw_market_data(df_weekly_price_raw)

max_price_weekId = get_weekId_max_price(df_weekly_price)
df_weekly_price_until_max = df_weekly_price [(df_weekly_price.weekId <= max_price_weekId)]
weekId_close_from_to = get_weekId_cartesian_product(df_weekly_price_until_max)

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:12: DeprecationWarning:


.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [67]:
print(max_price_weekId)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(df_weekly_price_raw )

11248

,open,close,high,low,volume,date,is_price_closing_up,weekId
date,,,,,,,,
1994-04-04,5.500,7.00,7.0000,5.5000,9500.0,1994-04-04,False,10135
1994-04-11,5.750,5.75,5.7500,5.5000,1500.0,1994-04-11,False,10136
1994-04-18,5.250,5.25,5.7500,5.2500,2000.0,1994-04-18,False,10137
1994-04-25,4.750,4.75,4.7500,4.2500,5000.0,1994-04-25,False,10138
1994-05-02,5.250,5.00,5.7500,4.6900,46100.0,1994-05-02,True,10139
1994-05-09,5.250,6.25,6.5000,5.2500,49900.0,1994-05-09,True,10140
1994-05-16,6.000,5.50,6.2500,5.2500,13500.0,1994-05-16,False,10141
1994-05-23,7.250,6.75,7.2500,5.2500,54300.0,1994-05-23,True,10142
1994-05-30,6.160,7.00,7.2500,6.0000,15900.0,1994-05-30,True,10143
1994-06-06,6.250,5.50,6.7500,5.5000,14200.0,1994-06-06,False,10144
1994-06-13,6.000,5.50,6.0000,5.5000,13400.0,1994-06-13,False,10145
1994-06-20,6.000,6.00,6.0000,5.6200,25500.0,1994-06-20,True,10146
1994-06-27,5.590,5.59,5.5900,5.5900,200.0,1994-06-27,False,10147
1994-07-04,6.250,6.25,6.2500,5.2500,6600.0,1994-07-04,True,10148
1994-07-11,6.750,6.75,7.0000,5.9700,44200.0,1994-07-11,True,10149
1994-07-18,6.160,6.00,6.7500,5.8100,32100.0,1994-07-18,False,10150
1994-07-25,6.750,6.55,6.7500,6.0000,20600.0,1994-07-25,True,10151
1994-08-01,6.750,6.75,6.7500,6.2700,23900.0,1994-08-01,True,10152
1994-08-08,7.250,7.25,7.2500,6.5200,9100.0,1994-08-08,True,10153
1994-08-15,7.250,7.08,7.2500,6.5000,15400.0,1994-08-15,False,10154
1994-08-22,7.250,7.09,7.5000,6.7500,5000.0,1994-08-22,True,10155
1994-08-29,7.090,6.94,7.2500,6.7500,21900.0,1994-08-29,False,10156
1994-09-05,6.500,6.50,7.2500,6.5000,12400.0,1994-09-05,False,10157
1994-09-12,7.000,7.00,7.0000,6.5000,5200.0,1994-09-12,True,10158
1994-09-19,6.880,6.88,7.2500,6.5000,9000.0,1994-09-19,False,10159
1994-09-26,7.120,7.00,7.1200,6.8800,11300.0,1994-09-26,True,10160
1994-10-03,7.880,7.63,8.0000,7.0000,17800.0,1994-10-03,True,10161
1994-10-10,9.880,9.75,10.2500,8.0000,120600.0,1994-10-10,True,10162
1994-10-17,8.750,8.87,10.1200,8.3800,34500.0,1994-10-17,False,10163
1994-10-24,8.500,8.62,9.5000,8.5000,16100.0,1994-10-24,False,10164
1994-10-31,8.500,8.50,8.7500,8.2500,30200.0,1994-10-31,False,10165
1994-11-07,8.250,8.38,8.5000,8.2500,5000.0,1994-11-07,False,10166
1994-11-14,8.120,8.25,8.3800,7.7500,32900.0,1994-11-14,False,10167
1994-11-21,8.000,8.12,8.5000,8.0000,11900.0,1994-11-21,False,10168
1994-11-28,7.750,7.88,8.0000,7.5000,13400.0,1994-11-28,False,10169
1994-12-05,8.380,8.38,8.3800,7.7500,65000.0,1994-12-05,True,10170
1994-12-12,7.500,7.63,8.2500,7.2500,112600.0,1994-12-12,False,10171
1994-12-19,7.370,7.50,7.6300,7.2500,58400.0,1994-12-19,False,10172
1994-12-26,7.370,7.37,7.5000,7.1200,85700.0,1994-12-26,False,10173
1995-01-02,7.630,8.25,8.2500,7.3700,47800.0,1995-01-02,True,10174
1995-01-09,7.630,7.75,8.3800,6.8800,131200.0,1995-01-09,False,10175
1995-01-16,8.000,8.00,8.7500,7.6300,193900.0,1995-01-16,True,10176
1995-01-23,7.880,7.88,8.2500,7.7500,55500.0,1995-01-23,False,10177
1995-01-30,8.000,7.75,8.3800,7.6300,29300.0,1995-01-30,False,10178
1995-02-06,8.250,8.38,8.3800,8.1200,89400.0,1995-02-06,True,10179
1995-02-13,8.250,8.12,8.3800,8.0000,75700.0,1995-02-13,False,10180
1995-02-20,9.250,9.25,9.5000,7.8800,343600.0,1995-02-20,True,10181
1995-02-27,10.370,10.25,10.5000,9.0000,101900.0,1995-02-27,True,10182
1995-03-06,12.500,12.50,13.2500,10.2500,165800.0,1995-03-06,True,10183
1995-03-13,13.370,13.75,14.5000,12.0000,352500.0,1995-03-13,True,10184
1995-03-20,14.500,14.62,15.5000,12.5000,258200.0,1995-03-20,True,10185
1995-03-27,13.120,13.37,14.5000,12.6200,164700.0,1995-03-27,False,10186
1995-04-03,12.750,12.75,13.3700,12.3800,310400.0,1995-04-03,False,10187
1995-04-10,14.870,14.62,15.5000,13.8800,511100.0,1995-04-10,True,10188
1995-04-17,16.120,16.00,17.0000,15.3800,250700.0,1995-04-17,True,10189
1995-04-24,17.000,16.63,17.0000,15.7500,176700.0,1995-04-24,True,10190
1995-05-01,16.880,16.88,17.2500,15.8800,194100.0,1995-05-01,True,10191
1995-05-08,15.620,15.50,17.2500,14.7500,238100.0,1995-05-08,False,10192
1995-05-15,16.750,16.50,17.8700,15.3800,261200.0,1995-05-15,True,10193
1995-05-22,16.120,16.37,17.2500,16.0000,120300.0,1995-05-22,False,10194
1995-05-29,16.000,15.75,16.5000,15.5000,104000.0,1995-05-29,False,10195
1995-06-05,15.380,15.62,15.8800,14.7500,85200.0,1995-06-05,False,10196
1995-06-12,16.120,16.12,16.6300,15.0000,133100.0,1995-06-12,True,10197
1995-06-19,17.380,17.12,18.5000,16.5000,234700.0,1995-06-19,True,10198
1995-06-26,18.000,18.13,19.3700,18.0000,238300.0,1995-06-26,True,10199
1995-07-03,18.620,18.62,19.3700,17.7500,86200.0,1995-07-03,True,10200
1995-07-10,20.620,20.50,21.1300,19.1200,144900.0,1995-07-10,True,10201
1995-07-17,20.120,20.12,20.7500,19.8800,69600.0,1995-07-17,False,10202
1995-07-24,23.620,23.50,23.7500,19.8800,169000.0,1995-07-24,True,10203
1995-07-31,24.130,24.00,24.3800,22.3700,86900.0,1995-07-31,True,10204
1995-08-07,22.630,22.63,24.3800,22.1200,94000.0,1995-08-07,False,10205
1995-08-14,21.500,21.75,23.7500,21.2500,126300.0,1995-08-14,False,10206
1995-08-21,25.370,25.25,26.5000,21.2500,113200.0,1995-08-21,True,10207
1995-08-28,24.620,24.88,26.5000,23.2500,349400.0,1995-08-28,False,10208
1995-09-04,23.500,22.88,26.0000,20.8700,270800.0,1995-09-04,False,10209
1995-09-11,25.500,25.12,28.7500,22.8800,417700.0,1995-09-11,True,10210
1995-09-18,33.750,33.38,34.6300,32.0000,957400.0,1995-09-18,True,10211
1995-09-25,34.880,34.75,35.8700,34.2500,225800.0,1995-09-25,True,10212
1995-10-02,34.250,34.50,34.6300,33.5000,99200.0,1995-10-02,False,10213
1995-10-09,33.880,33.62,34.6300,33.6200,42400.0,1995-10-09,False,10214
1995-10-16,32.620,32.87,33.5000,32.2500,59700.0,1995-10-16,False,10215
1995-10-23,35.870,36.13,36.7500,31.8800,102500.0,1995-10-23,True,10216
1995-10-30,37.370,37.00,38.6200,35.2500,110200.0,1995-10-30,True,10217
1995-11-06,40.630,40.37,41.5000,38.5000,151400.0,1995-11-06,True,10218
1995-11-13,41.250,41.50,45.0000,40.2500,193200.0,1995-11-13,True,10219
1995-11-20,44.000,43.50,46.1200,39.5000,156900.0,1995-11-20,True,10220
1995-11-27,49.500,49.50,50.0000,45.1300,103000.0,1995-11-27,True,10221
1995-12-04,56.250,56.00,63.5000,49.1200,234800.0,1995-12-04,True,10222
1995-12-11,54.750,54.50,60.0000,52.0000,179600.0,1995-12-11,False,10223
1995-12-18,62.000,61.75,65.2500,54.2500,163800.0,1995-12-18,True,10224
1995-12-25,67.630,68.25,71.7500,58.2500,172100.0,1995-12-25,True,10225
1996-01-01,72.000,77.25,78.0000,67.0000,83000.0,1996-01-01,True,10226
1996-01-08,79.120,80.38,87.8800,71.5000,265200.0,1996-01-08,True,10227
1996-01-15,85.500,84.50,87.2500,60.0000,313000.0,1996-01-15,True,10228
1996-01-22,25.500,25.88,84.1300,21.3800,541133.0,1996-01-22,False,10229
1996-01-29,26.880,26.38,27.8800,21.2500,868400.0,1996-01-29,True,10230
1996-02-05,25.500,25.75,26.6200,25.3800,326900.0,1996-02-05,False,10231
1996-02-12,29.000,29.00,29.0000,25.8800,481000.0,1996-02-12,True,10232
1996-02-19,29.000,29.00,29.0000,26.8800,309000.0,1996-02-19,False,10233
1996-02-26,28.380,28.50,32.8800,27.5000,740500.0,1996-02-26,False,10234
1996-03-04,27.750,27.75,30.7500,27.1200,552800.0,1996-03-04,False,10235
1996-03-11,26.250,26.88,28.0000,26.0000,276300.0,1996-03-11,False,10236
1996-03-18,25.500,25.50,26.6200,24.7500,358600.0,1996-03-18,False,10237
1996-03-25,28.500,28.50,30.0000,26.2500,448500.0,1996-03-25,True,10238
1996-04-01,28.380,28.38,29.1200,26.5000,240100.0,1996-04-01,False,10239
1996-04-08,27.000,28.75,29.8800,26.6200,276400.0,1996-04-08,True,10240
1996-04-15,23.880,23.88,27.1200,22.5000,1283700.0,1996-04-15,False,10241
1996-04-22,29.250,29.00,30.6200,24.7500,1299900.0,1996-04-22,True,10242
1996-04-29,26.750,27.00,29.7500,26.7500,1205500.0,1996-04-29,False,10243
1996-05-06,29.000,28.75,29.3800,27.7500,740600.0,1996-05-06,True,10244
1996-05-13,28.250,28.25,29.2500,26.0000,945100.0,1996-05-13,False,10245
1996-05-20,36.250,35.25,39.8800,28.8800,1931300.0,1996-05-20,True,10246
1996-05-27,34.000,34.88,40.0000,33.2500,1368600.0,1996-05-27,False,10247
1996-06-03,34.380,34.12,36.5000,31.7500,446200.0,1996-06-03,False,10248
1996-06-10,35.880,36.00,37.8800,35.1200,367000.0,1996-06-10,True,10249
1996-06-17,35.250,35.50,37.0000,35.2500,257300.0,1996-06-17,False,10250
1996-06-24,32.500,32.50,35.7500,30.0000,707800.0,1996-06-24,False,10251
1996-07-01,31.250,31.25,33.7500,28.6200,1059100.0,1996-07-01,False,10252
1996-07-08,31.250,31.25,34.2500,30.8800,282300.0,1996-07-08,False,10253
1996-07-15,25.120,25.38,31.5000,21.3800,1272100.0,1996-07-15,False,10254
1996-07-22,29.750,29.75,30.8800,20.2500,2417900.0,1996-07-22,True,10255
1996-07-29,26.380,26.88,28.6200,24.1200,1006800.0,1996-07-29,False,10256
1996-08-05,26.380,26.12,27.7500,25.1200,588300.0,1996-08-05,False,10257
1996-08-12,25.000,25.00,26.1200,22.5000,1038100.0,1996-08-12,False,10258
1996-08-19,25.120,25.00,26.5000,24.6200,506700.0,1996-08-19,False,10259
1996-08-26,25.380,25.25,26.5000,24.5000,722500.0,1996-08-26,True,10260
1996-09-02,29.750,30.00,30.2500,25.7500,988000.0,1996-09-02,True,10261
1996-09-09,31.750,27.00,32.2500,26.1200,1911100.0,1996-09-09,False,10262
1996-09-16,31.000,31.38,33.8800,30.6200,1461100.0,1996-09-16,True,10263
1996-09-23,32.750,32.75,33.1200,31.2500,679400.0,1996-09-23,True,10264
1996-09-30,34.250,34.38,36.8800,32.7500,1373600.0,1996-09-30,True,10265
1996-10-07,36.120,36.38,37.2500,34.3800,728100.0,1996-10-07,True,10266
1996-10-14,35.500,35.50,35.8800,34.2500,550500.0,1996-10-14,False,10267
1996-10-21,33.620,33.62,35.8800,31.5000,510600.0,1996-10-21,False,10268
1996-10-28,35.120,35.00,35.8800,30.2500,852400.0,1996-10-28,True,10269
1996-11-04,29.750,29.62,34.8800,28.1200,1927600.0,1996-11-04,False,10270
1996-11-11,31.750,31.75,33.0000,28.3800,1071500.0,1996-11-11,True,10271
1996-11-18,30.000,29.75,31.7500,28.5000,726400.0,1996-11-18,False,10272
1996-11-25,30.750,28.75,30.8800,25.6200,1549200.0,1996-11-25,False,10273
1996-12-02,28.500,28.50,30.6200,27.1200,651300.0,1996-12-02,False,10274
1996-12-09,27.750,27.75,28.7500,25.6200,1233300.0,1996-12-09,False,10275
1996-12-16,26.880,26.75,29.1200,26.3800,812900.0,1996-12-16,False,10276
1996-12-23,26.500,26.38,27.6200,25.7500,357800.0,1996-12-23,False,10277
1996-12-30,27.120,27.25,27.5000,26.2500,226100.0,1996-12-30,True,10278
1997-01-06,27.500,27.50,27.7500,25.3800,414100.0,1997-01-06,True,10279
1997-01-13,27.620,27.50,28.7500,26.6200,455000.0,1997-01-13,False,10280
1997-01-20,28.380,28.50,29.2500,27.8800,1169000.0,1997-01-20,True,10281
1997-01-27,29.750,29.88,30.0000,27.7500,963600.0,1997-01-27,True,10282
1997-02-03,28.620,28.88,29.0000,28.1200,667600.0,1997-02-03,False,10283
1997-02-10,27.620,27.50,28.8800,26.6200,607400.0,1997-02-10,False,10284
1997-02-17,26.880,27.00,27.1200,25.3800,491600.0,1997-02-17,False,10285
1997-02-24,26.880,26.50,26.8800,26.2500,363500.0,1997-02-24,False,10286
1997-03-03,24.000,24.12,27.5000,23.3800,1617000.0,1997-03-03,False,10287
1997-03-10,22.750,22.88,24.1200,22.1200,1136700.0,1997-03-10,False,10288
1997-03-17,22.000,22.00,23.1200,20.6200,887100.0,1997-03-17,False,10289
1997-03-24,23.380,23.38,24.0000,21.8800,757100.0,1997-03-24,True,10290
1997-03-31,23.750,23.62,25.0000,23.1200,628600.0,1997-03-31,True,10291
1997-04-07,23.880,23.75,24.8800,22.8800,370600.0,1997-04-07,True,10292
1997-04-14,23.500,23.75,25.0000,23.5000,213300.0,1997-04-14,False,10293
1997-04-21,22.120,22.38,24.7500,21.7500,444200.0,1997-04-21,False,10294
1997-04-28,20.880,20.88,21.8800,20.3800,555800.0,1997-04-28,False,10295
1997-05-05,26.250,26.00,27.2500,22.0000,1361100.0,1997-05-05,True,10296
1997-05-12,27.750,27.75,28.2500,26.0000,467400.0,1997-05-12,True,10297
1997-05-19,26.880,27.00,28.2500,25.2500,422700.0,1997-05-19,False,10298
1997-05-26,26.000,26.50,26.5000,25.3800,185600.0,1997-05-26,False,10299
1997-06-02,29.880,29.62,31.3800,26.2500,909800.0,1997-06-02,True,10300
1997-06-09,31.380,31.12,31.8800,30.2500,1191500.0,1997-06-09,True,10301
1997-06-16,29.750,29.75,33.3800,28.7500,1769000.0,1997-06-16,False,10302
1997-06-23,31.000,31.00,31.6200,29.7500,529700.0,1997-06-23,True,10303
1997-06-30,30.440,30.50,30.7500,29.1200,407000.0,1997-06-30,False,10304
1997-07-07,29.880,29.62,30.1900,29.0600,271100.0,1997-07-07,False,10305
1997-07-14,29.500,29.31,30.2500,28.1200,576500.0,1997-07-14,False,10306
1997-07-21,28.440,28.44,29.5000,27.0000,368500.0,1997-07-21,False,10307
1997-07-28,28.250,28.38,29.1900,27.0600,651900.0,1997-07-28,False,10308
1997-08-04,26.310,26.31,27.3100,25.1900,631500.0,1997-08-04,False,10309
1997-08-11,25.690,25.94,27.6200,25.5600,1300500.0,1997-08-11,False,10310
1997-08-18,28.500,28.50,28.8100,25.1200,1451800.0,1997-08-18,True,10311
1997-08-25,30.250,29.75,30.8100,28.2500,688400.0,1997-08-25,True,10312
1997-09-01,28.500,28.44,29.8800,28.3100,229800.0,1997-09-01,False,10313
1997-09-08,28.690,28.75,29.6900,27.6200,339600.0,1997-09-08,True,10314
1997-09-15,29.190,29.19,29.6900,28.3800,469500.0,1997-09-15,True,10315
1997-09-22,30.190,30.00,30.5000,28.7500,485400.0,1997-09-22,True,10316
1997-09-29,29.000,29.00,30.1900,28.3800,274700.0,1997-09-29,False,10317
1997-10-06,28.880,28.81,29.1200,28.4400,451300.0,1997-10-06,False,10318
1997-10-13,30.380,30.38,31.6900,28.6900,1488000.0,1997-10-13,True,10319
1997-10-20,29.250,29.19,31.3800,29.0000,750800.0,1997-10-20,False,10320
1997-10-27,29.380,29.50,30.4400,26.3800,682400.0,1997-10-27,True,10321
1997-11-03,28.940,28.88,30.0000,24.8800,793500.0,1997-11-03,False,10322
1997-11-10,29.750,29.12,30.0000,29.0600,450100.0,1997-11-10,True,10323
1997-11-17,29.500,29.44,29.8100,28.8800,334600.0,1997-11-17,True,10324
1997-11-24,29.500,30.12,30.2500,29.3800,682000.0,1997-11-24,True,10325
1997-12-01,30.940,30.88,34.3800,30.0000,549500.0,1997-12-01,True,10326
1997-12-08,35.560,35.50,36.5000,32.8100,856000.0,1997-12-08,True,10327
1997-12-15,34.440,34.19,38.1900,33.9400,1364300.0,1997-12-15,False,10328
1997-12-22,37.190,37.25,38.4400,35.5600,1223100.0,1997-12-22,True,10329
1997-12-29,35.750,35.88,37.7500,35.0000,313600.0,1997-12-29,False,10330
1998-01-05,38.380,38.38,39.6900,37.0000,661400.0,1998-01-05,True,10331
1998-01-12,33.000,34.75,39.0000,33.0000,675600.0,1998-01-12,False,10332
1998-01-19,33.690,33.69,36.6900,33.5000,527800.0,1998-01-19,False,10333
1998-01-26,35.000,35.25,36.0600,33.1200,1100100.0,1998-01-26,True,10334
1998-02-02,36.750,36.00,37.7500,34.3800,654100.0,1998-02-02,True,10335
1998-02-09,36.190,36.00,37.5600,35.1900,553400.0,1998-02-09,False,10336
1998-02-16,37.060,36.38,37.5000,34.8100,881400.0,1998-02-16,True,10337
1998-02-23,38.380,38.44,39.1200,36.0000,890300.0,1998-02-23,True,10338
1998-03-02,43.310,43.56,44.6200,37.5600,3055000.0,1998-03-02,True,10339
1998-03-09,46.190,45.94,47.0000,41.5600,1597000.0,1998-03-09,True,10340
1998-03-16,46.880,46.81,48.0000,45.0000,866700.0,1998-03-16,True,10341
1998-03-23,48.500,48.56,49.5000,46.0000,883000.0,1998-03-23,True,10342
1998-03-30,48.880,48.75,49.3800,46.8100,1226500.0,1998-03-30,True,10343
1998-04-06,43.880,44.12,48.9400,37.5000,2111800.0,1998-04-06,False,10344
1998-04-13,41.500,41.75,41.7500,34.6200,3405000.0,1998-04-13,False,10345
1998-04-20,42.750,43.19,43.9400,39.6200,2047600.0,1998-04-20,True,10346
1998-04-27,40.810,41.50,44.2500,39.3800,961400.0,1998-04-27,False,10347
1998-05-04,40.250,40.62,41.9400,39.3100,947300.0,1998-05-04,False,10348
1998-05-11,39.250,39.25,40.1200,38.1900,349400.0,1998-05-11,False,10349
1998-05-18,37.750,37.88,39.2500,36.5600,513500.0,1998-05-18,False,10350
1998-05-25,35.440,35.50,38.2500,33.6900,707300.0,1998-05-25,False,10351
1998-06-01,33.690,33.94,36.0000,32.6200,726800.0,1998-06-01,False,10352
1998-06-08,34.880,34.75,35.3100,32.7500,441100.0,1998-06-08,True,10353
1998-06-15,32.120,32.12,35.3100,31.6200,576900.0,1998-06-15,False,10354
1998-06-22,31.620,31.75,32.5000,30.0000,696600.0,1998-06-22,False,10355
1998-06-29,32.190,32.06,34.3800,30.5600,911700.0,1998-06-29,True,10356
1998-07-06,32.250,32.25,32.8100,31.5600,172500.0,1998-07-06,True,10357
1998-07-13,30.750,30.75,32.1200,30.1200,587500.0,1998-07-13,False,10358
1998-07-20,30.250,30.50,32.6200,28.5000,959600.0,1998-07-20,False,10359
1998-07-27,34.500,34.00,36.0000,33.2500,1446400.0,1998-07-27,True,10360
1998-08-03,32.060,32.88,35.1200,31.5600,537400.0,1998-08-03,False,10361
1998-08-10,31.000,30.75,31.7500,29.0600,562500.0,1998-08-10,False,10362
1998-08-17,30.880,30.88,32.3800,29.2500,473700.0,1998-08-17,True,10363
1998-08-24,33.060,32.81,34.3800,31.7500,678400.0,1998-08-24,True,10364
1998-08-31,30.560,30.50,34.4400,28.0000,938700.0,1998-08-31,False,10365
1998-09-07,28.750,27.38,29.8800,27.0000,1017100.0,1998-09-07,False,10366
1998-09-14,24.880,24.62,28.4400,24.0000,956400.0,1998-09-14,False,10367
1998-09-21,25.880,26.25,27.1900,24.3800,609100.0,1998-09-21,True,10368
1998-09-28,28.690,28.31,29.0600,26.5600,399000.0,1998-09-28,True,10369
1998-10-05,24.690,24.69,28.9400,24.0600,477800.0,1998-10-05,False,10370
1998-10-12,22.190,21.94,25.1900,20.4400,1025400.0,1998-10-12,False,10371
1998-10-19,25.750,26.00,26.6200,21.2500,777600.0,1998-10-19,True,10372
1998-10-26,28.380,27.88,30.7500,26.0000,926400.0,1998-10-26,True,10373
1998-11-02,31.690,31.19,33.0000,29.6200,1066400.0,1998-11-02,True,10374
1998-11-09,33.000,33.38,33.8800,32.3100,651800.0,1998-11-09,True,10375
1998-11-16,33.620,33.38,33.6200,32.2500,590800.0,1998-11-16,False,10376
1998-11-23,32.380,32.25,32.6200,31.1900,651600.0,1998-11-23,False,10377
1998-11-30,35.880,35.62,36.2500,31.8800,1037800.0,1998-11-30,True,10378
1998-12-07,35.190,35.00,35.8800,33.5000,711000.0,1998-12-07,False,10379
1998-12-14,33.440,33.44,34.5600,32.7500,404800.0,1998-12-14,False,10380
1998-12-21,34.000,34.12,35.1200,32.3800,610800.0,1998-12-21,True,10381
1998-12-28,34.310,34.44,35.1900,33.4400,241500.0,1998-12-28,True,10382
1999-01-04,37.560,37.81,38.3800,34.8100,278600.0,1999-01-04,True,10383
1999-01-11,40.440,40.38,40.5000,37.8100,993400.0,1999-01-11,True,10384
1999-01-18,38.500,38.75,39.7500,37.9400,406000.0,1999-01-18,False,10385
1999-01-25,42.810,42.94,44.1900,39.1900,1258500.0,1999-01-25,True,10386
1999-02-01,42.250,42.25,42.8100,41.0600,449800.0,1999-02-01,False,10387
1999-02-08,38.380,38.31,41.5000,36.8100,535600.0,1999-02-08,False,10388
1999-02-15,36.560,37.12,37.2500,36.1200,362100.0,1999-02-15,False,10389
1999-02-22,35.000,35.00,36.9400,34.1200,242900.0,1999-02-22,False,10390
1999-03-01,38.250,38.19,38.9400,35.5000,436400.0,1999-03-01,True,10391
1999-03-08,39.500,39.50,41.0000,38.2500,481600.0,1999-03-08,True,10392
1999-03-15,41.190,40.94,41.9400,40.0000,437500.0,1999-03-15,True,10393
1999-03-22,42.250,42.00,43.6200,40.6200,562800.0,1999-03-22,True,10394
1999-03-29,39.500,39.50,40.1200,39.0600,204100.0,1999-03-29,False,10395
1999-04-05,39.000,38.88,39.7500,38.3100,460300.0,1999-04-05,False,10396
1999-04-12,39.000,39.50,40.1900,38.0600,549900.0,1999-04-12,True,10397
1999-04-19,39.380,39.19,40.1900,37.0000,457700.0,1999-04-19,False,10398
1999-04-26,37.380,37.12,38.0000,34.6200,428500.0,1999-04-26,False,10399
1999-05-03,35.060,35.06,37.6200,33.8100,868000.0,1999-05-03,False,10400
1999-05-10,33.500,33.38,35.3100,32.3800,624200.0,1999-05-10,False,10401
1999-05-17,35.000,35.00,36.0000,33.0000,462100.0,1999-05-17,True,10402
1999-05-24,38.750,38.69,39.8100,35.3100,625000.0,1999-05-24,True,10403
1999-05-31,37.750,38.19,38.7500,36.6200,222600.0,1999-05-31,False,10404
1999-06-07,38.560,38.31,39.3100,37.6900,213400.0,1999-06-07,True,10405
1999-06-14,42.120,41.88,42.3800,38.3800,738700.0,1999-06-14,True,10406
1999-06-21,42.880,42.00,42.8800,41.0600,228000.0,1999-06-21,True,10407
1999-06-28,50.880,51.12,52.0000,41.7500,2154800.0,1999-06-28,True,10408
1999-07-05,54.190,55.75,56.3100,48.9400,846200.0,1999-07-05,True,10409
1999-07-12,53.250,53.00,55.5000,52.1900,548500.0,1999-07-12,False,10410
1999-07-19,54.620,54.62,55.8800,51.3800,799700.0,1999-07-19,True,10411
1999-07-26,57.940,58.62,59.1200,55.0600,1053600.0,1999-07-26,True,10412
1999-08-02,56.190,56.19,57.6200,54.4400,579300.0,1999-08-02,False,10413
1999-08-09,52.880,52.88,57.1200,51.5000,543800.0,1999-08-09,False,10414
1999-08-16,52.620,53.00,53.4400,50.6200,421300.0,1999-08-16,True,10415

In [68]:
# print(max_price_weekId)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(df_weekly_price)
# df_weekly_price.ix[:df_weekly_price_until_max]

,open,close,high,low,volume,date,is_price_closing_up,weekId
date,,,,,,,,
1994-04-04,5.500,7.00,7.0000,5.5000,9500.0,1994-04-04,False,10135
1994-04-11,5.750,5.75,5.7500,5.5000,1500.0,1994-04-11,False,10136
1994-04-18,5.250,5.25,5.7500,5.2500,2000.0,1994-04-18,False,10137
1994-04-25,4.750,4.75,4.7500,4.2500,5000.0,1994-04-25,False,10138
1994-05-02,5.250,5.00,5.7500,4.6900,46100.0,1994-05-02,True,10139
1994-05-09,5.250,6.25,6.5000,5.2500,49900.0,1994-05-09,True,10140
1994-05-16,6.000,5.50,6.2500,5.2500,13500.0,1994-05-16,False,10141
1994-05-23,7.250,6.75,7.2500,5.2500,54300.0,1994-05-23,True,10142
1994-05-30,6.160,7.00,7.2500,6.0000,15900.0,1994-05-30,True,10143
1994-06-06,6.250,5.50,6.7500,5.5000,14200.0,1994-06-06,False,10144
1994-06-13,6.000,5.50,6.0000,5.5000,13400.0,1994-06-13,False,10145
1994-06-20,6.000,6.00,6.0000,5.6200,25500.0,1994-06-20,True,10146
1994-06-27,5.590,5.59,5.5900,5.5900,200.0,1994-06-27,False,10147
1994-07-04,6.250,6.25,6.2500,5.2500,6600.0,1994-07-04,True,10148
1994-07-11,6.750,6.75,7.0000,5.9700,44200.0,1994-07-11,True,10149
1994-07-18,6.160,6.00,6.7500,5.8100,32100.0,1994-07-18,False,10150
1994-07-25,6.750,6.55,6.7500,6.0000,20600.0,1994-07-25,True,10151
1994-08-01,6.750,6.75,6.7500,6.2700,23900.0,1994-08-01,True,10152
1994-08-08,7.250,7.25,7.2500,6.5200,9100.0,1994-08-08,True,10153
1994-08-15,7.250,7.08,7.2500,6.5000,15400.0,1994-08-15,False,10154
1994-08-22,7.250,7.09,7.5000,6.7500,5000.0,1994-08-22,True,10155
1994-08-29,7.090,6.94,7.2500,6.7500,21900.0,1994-08-29,False,10156
1994-09-05,6.500,6.50,7.2500,6.5000,12400.0,1994-09-05,False,10157
1994-09-12,7.000,7.00,7.0000,6.5000,5200.0,1994-09-12,True,10158
1994-09-19,6.880,6.88,7.2500,6.5000,9000.0,1994-09-19,False,10159
1994-09-26,7.120,7.00,7.1200,6.8800,11300.0,1994-09-26,True,10160
1994-10-03,7.880,7.63,8.0000,7.0000,17800.0,1994-10-03,True,10161
1994-10-10,9.880,9.75,10.2500,8.0000,120600.0,1994-10-10,True,10162
1994-10-17,8.750,8.87,10.1200,8.3800,34500.0,1994-10-17,False,10163
1994-10-24,8.500,8.62,9.5000,8.5000,16100.0,1994-10-24,False,10164
1994-10-31,8.500,8.50,8.7500,8.2500,30200.0,1994-10-31,False,10165
1994-11-07,8.250,8.38,8.5000,8.2500,5000.0,1994-11-07,False,10166
1994-11-14,8.120,8.25,8.3800,7.7500,32900.0,1994-11-14,False,10167
1994-11-21,8.000,8.12,8.5000,8.0000,11900.0,1994-11-21,False,10168
1994-11-28,7.750,7.88,8.0000,7.5000,13400.0,1994-11-28,False,10169
1994-12-05,8.380,8.38,8.3800,7.7500,65000.0,1994-12-05,True,10170
1994-12-12,7.500,7.63,8.2500,7.2500,112600.0,1994-12-12,False,10171
1994-12-19,7.370,7.50,7.6300,7.2500,58400.0,1994-12-19,False,10172
1994-12-26,7.370,7.37,7.5000,7.1200,85700.0,1994-12-26,False,10173
1995-01-02,7.630,8.25,8.2500,7.3700,47800.0,1995-01-02,True,10174
1995-01-09,7.630,7.75,8.3800,6.8800,131200.0,1995-01-09,False,10175
1995-01-16,8.000,8.00,8.7500,7.6300,193900.0,1995-01-16,True,10176
1995-01-23,7.880,7.88,8.2500,7.7500,55500.0,1995-01-23,False,10177
1995-01-30,8.000,7.75,8.3800,7.6300,29300.0,1995-01-30,False,10178
1995-02-06,8.250,8.38,8.3800,8.1200,89400.0,1995-02-06,True,10179
1995-02-13,8.250,8.12,8.3800,8.0000,75700.0,1995-02-13,False,10180
1995-02-20,9.250,9.25,9.5000,7.8800,343600.0,1995-02-20,True,10181
1995-02-27,10.370,10.25,10.5000,9.0000,101900.0,1995-02-27,True,10182
1995-03-06,12.500,12.50,13.2500,10.2500,165800.0,1995-03-06,True,10183
1995-03-13,13.370,13.75,14.5000,12.0000,352500.0,1995-03-13,True,10184
1995-03-20,14.500,14.62,15.5000,12.5000,258200.0,1995-03-20,True,10185
1995-03-27,13.120,13.37,14.5000,12.6200,164700.0,1995-03-27,False,10186
1995-04-03,12.750,12.75,13.3700,12.3800,310400.0,1995-04-03,False,10187
1995-04-10,14.870,14.62,15.5000,13.8800,511100.0,1995-04-10,True,10188
1995-04-17,16.120,16.00,17.0000,15.3800,250700.0,1995-04-17,True,10189
1995-04-24,17.000,16.63,17.0000,15.7500,176700.0,1995-04-24,True,10190
1995-05-01,16.880,16.88,17.2500,15.8800,194100.0,1995-05-01,True,10191
1995-05-08,15.620,15.50,17.2500,14.7500,238100.0,1995-05-08,False,10192
1995-05-15,16.750,16.50,17.8700,15.3800,261200.0,1995-05-15,True,10193
1995-05-22,16.120,16.37,17.2500,16.0000,120300.0,1995-05-22,False,10194
1995-05-29,16.000,15.75,16.5000,15.5000,104000.0,1995-05-29,False,10195
1995-06-05,15.380,15.62,15.8800,14.7500,85200.0,1995-06-05,False,10196
1995-06-12,16.120,16.12,16.6300,15.0000,133100.0,1995-06-12,True,10197
1995-06-19,17.380,17.12,18.5000,16.5000,234700.0,1995-06-19,True,10198
1995-06-26,18.000,18.13,19.3700,18.0000,238300.0,1995-06-26,True,10199
1995-07-03,18.620,18.62,19.3700,17.7500,86200.0,1995-07-03,True,10200
1995-07-10,20.620,20.50,21.1300,19.1200,144900.0,1995-07-10,True,10201
1995-07-17,20.120,20.12,20.7500,19.8800,69600.0,1995-07-17,False,10202
1995-07-24,23.620,23.50,23.7500,19.8800,169000.0,1995-07-24,True,10203
1995-07-31,24.130,24.00,24.3800,22.3700,86900.0,1995-07-31,True,10204
1995-08-07,22.630,22.63,24.3800,22.1200,94000.0,1995-08-07,False,10205
1995-08-14,21.500,21.75,23.7500,21.2500,126300.0,1995-08-14,False,10206
1995-08-21,25.370,25.25,26.5000,21.2500,113200.0,1995-08-21,True,10207
1995-08-28,24.620,24.88,26.5000,23.2500,349400.0,1995-08-28,False,10208
1995-09-04,23.500,22.88,26.0000,20.8700,270800.0,1995-09-04,False,10209
1995-09-11,25.500,25.12,28.7500,22.8800,417700.0,1995-09-11,True,10210
1995-09-18,33.750,33.38,34.6300,32.0000,957400.0,1995-09-18,True,10211
1995-09-25,34.880,34.75,35.8700,34.2500,225800.0,1995-09-25,True,10212
1995-10-02,34.250,34.50,34.6300,33.5000,99200.0,1995-10-02,False,10213
1995-10-09,33.880,33.62,34.6300,33.6200,42400.0,1995-10-09,False,10214
1995-10-16,32.620,32.87,33.5000,32.2500,59700.0,1995-10-16,False,10215
1995-10-23,35.870,36.13,36.7500,31.8800,102500.0,1995-10-23,True,10216
1995-10-30,37.370,37.00,38.6200,35.2500,110200.0,1995-10-30,True,10217
1995-11-06,40.630,40.37,41.5000,38.5000,151400.0,1995-11-06,True,10218
1995-11-13,41.250,41.50,45.0000,40.2500,193200.0,1995-11-13,True,10219
1995-11-20,44.000,43.50,46.1200,39.5000,156900.0,1995-11-20,True,10220
1995-11-27,49.500,49.50,50.0000,45.1300,103000.0,1995-11-27,True,10221
1995-12-04,56.250,56.00,63.5000,49.1200,234800.0,1995-12-04,True,10222
1995-12-11,54.750,54.50,60.0000,52.0000,179600.0,1995-12-11,False,10223
1995-12-18,62.000,61.75,65.2500,54.2500,163800.0,1995-12-18,True,10224
1995-12-25,67.630,68.25,71.7500,58.2500,172100.0,1995-12-25,True,10225
1996-01-01,72.000,77.25,78.0000,67.0000,83000.0,1996-01-01,True,10226
1996-01-08,79.120,80.38,87.8800,71.5000,265200.0,1996-01-08,True,10227
1996-01-15,85.500,84.50,87.2500,60.0000,313000.0,1996-01-15,True,10228
1996-01-22,25.500,25.88,84.1300,21.3800,541133.0,1996-01-22,False,10229
1996-01-29,26.880,26.38,27.8800,21.2500,868400.0,1996-01-29,True,10230
1996-02-05,25.500,25.75,26.6200,25.3800,326900.0,1996-02-05,False,10231
1996-02-12,29.000,29.00,29.0000,25.8800,481000.0,1996-02-12,True,10232
1996-02-19,29.000,29.00,29.0000,26.8800,309000.0,1996-02-19,False,10233
1996-02-26,28.380,28.50,32.8800,27.5000,740500.0,1996-02-26,False,10234
1996-03-04,27.750,27.75,30.7500,27.1200,552800.0,1996-03-04,False,10235
1996-03-11,26.250,26.88,28.0000,26.0000,276300.0,1996-03-11,False,10236
1996-03-18,25.500,25.50,26.6200,24.7500,358600.0,1996-03-18,False,10237
1996-03-25,28.500,28.50,30.0000,26.2500,448500.0,1996-03-25,True,10238
1996-04-01,28.380,28.38,29.1200,26.5000,240100.0,1996-04-01,False,10239
1996-04-08,27.000,28.75,29.8800,26.6200,276400.0,1996-04-08,True,10240
1996-04-15,23.880,23.88,27.1200,22.5000,1283700.0,1996-04-15,False,10241
1996-04-22,29.250,29.00,30.6200,24.7500,1299900.0,1996-04-22,True,10242
1996-04-29,26.750,27.00,29.7500,26.7500,1205500.0,1996-04-29,False,10243
1996-05-06,29.000,28.75,29.3800,27.7500,740600.0,1996-05-06,True,10244
1996-05-13,28.250,28.25,29.2500,26.0000,945100.0,1996-05-13,False,10245
1996-05-20,36.250,35.25,39.8800,28.8800,1931300.0,1996-05-20,True,10246
1996-05-27,34.000,34.88,40.0000,33.2500,1368600.0,1996-05-27,False,10247
1996-06-03,34.380,34.12,36.5000,31.7500,446200.0,1996-06-03,False,10248
1996-06-10,35.880,36.00,37.8800,35.1200,367000.0,1996-06-10,True,10249
1996-06-17,35.250,35.50,37.0000,35.2500,257300.0,1996-06-17,False,10250
1996-06-24,32.500,32.50,35.7500,30.0000,707800.0,1996-06-24,False,10251
1996-07-01,31.250,31.25,33.7500,28.6200,1059100.0,1996-07-01,False,10252
1996-07-08,31.250,31.25,34.2500,30.8800,282300.0,1996-07-08,False,10253
1996-07-15,25.120,25.38,31.5000,21.3800,1272100.0,1996-07-15,False,10254
1996-07-22,29.750,29.75,30.8800,20.2500,2417900.0,1996-07-22,True,10255
1996-07-29,26.380,26.88,28.6200,24.1200,1006800.0,1996-07-29,False,10256
1996-08-05,26.380,26.12,27.7500,25.1200,588300.0,1996-08-05,False,10257
1996-08-12,25.000,25.00,26.1200,22.5000,1038100.0,1996-08-12,False,10258
1996-08-19,25.120,25.00,26.5000,24.6200,506700.0,1996-08-19,False,10259
1996-08-26,25.380,25.25,26.5000,24.5000,722500.0,1996-08-26,True,10260
1996-09-02,29.750,30.00,30.2500,25.7500,988000.0,1996-09-02,True,10261
1996-09-09,31.750,27.00,32.2500,26.1200,1911100.0,1996-09-09,False,10262
1996-09-16,31.000,31.38,33.8800,30.6200,1461100.0,1996-09-16,True,10263
1996-09-23,32.750,32.75,33.1200,31.2500,679400.0,1996-09-23,True,10264
1996-09-30,34.250,34.38,36.8800,32.7500,1373600.0,1996-09-30,True,10265
1996-10-07,36.120,36.38,37.2500,34.3800,728100.0,1996-10-07,True,10266
1996-10-14,35.500,35.50,35.8800,34.2500,550500.0,1996-10-14,False,10267
1996-10-21,33.620,33.62,35.8800,31.5000,510600.0,1996-10-21,False,10268
1996-10-28,35.120,35.00,35.8800,30.2500,852400.0,1996-10-28,True,10269
1996-11-04,29.750,29.62,34.8800,28.1200,1927600.0,1996-11-04,False,10270
1996-11-11,31.750,31.75,33.0000,28.3800,1071500.0,1996-11-11,True,10271
1996-11-18,30.000,29.75,31.7500,28.5000,726400.0,1996-11-18,False,10272
1996-11-25,30.750,28.75,30.8800,25.6200,1549200.0,1996-11-25,False,10273
1996-12-02,28.500,28.50,30.6200,27.1200,651300.0,1996-12-02,False,10274
1996-12-09,27.750,27.75,28.7500,25.6200,1233300.0,1996-12-09,False,10275
1996-12-16,26.880,26.75,29.1200,26.3800,812900.0,1996-12-16,False,10276
1996-12-23,26.500,26.38,27.6200,25.7500,357800.0,1996-12-23,False,10277
1996-12-30,27.120,27.25,27.5000,26.2500,226100.0,1996-12-30,True,10278
1997-01-06,27.500,27.50,27.7500,25.3800,414100.0,1997-01-06,True,10279
1997-01-13,27.620,27.50,28.7500,26.6200,455000.0,1997-01-13,False,10280
1997-01-20,28.380,28.50,29.2500,27.8800,1169000.0,1997-01-20,True,10281
1997-01-27,29.750,29.88,30.0000,27.7500,963600.0,1997-01-27,True,10282
1997-02-03,28.620,28.88,29.0000,28.1200,667600.0,1997-02-03,False,10283
1997-02-10,27.620,27.50,28.8800,26.6200,607400.0,1997-02-10,False,10284
1997-02-17,26.880,27.00,27.1200,25.3800,491600.0,1997-02-17,False,10285
1997-02-24,26.880,26.50,26.8800,26.2500,363500.0,1997-02-24,False,10286
1997-03-03,24.000,24.12,27.5000,23.3800,1617000.0,1997-03-03,False,10287
1997-03-10,22.750,22.88,24.1200,22.1200,1136700.0,1997-03-10,False,10288
1997-03-17,22.000,22.00,23.1200,20.6200,887100.0,1997-03-17,False,10289
1997-03-24,23.380,23.38,24.0000,21.8800,757100.0,1997-03-24,True,10290
1997-03-31,23.750,23.62,25.0000,23.1200,628600.0,1997-03-31,True,10291
1997-04-07,23.880,23.75,24.8800,22.8800,370600.0,1997-04-07,True,10292
1997-04-14,23.500,23.75,25.0000,23.5000,213300.0,1997-04-14,False,10293
1997-04-21,22.120,22.38,24.7500,21.7500,444200.0,1997-04-21,False,10294
1997-04-28,20.880,20.88,21.8800,20.3800,555800.0,1997-04-28,False,10295
1997-05-05,26.250,26.00,27.2500,22.0000,1361100.0,1997-05-05,True,10296
1997-05-12,27.750,27.75,28.2500,26.0000,467400.0,1997-05-12,True,10297
1997-05-19,26.880,27.00,28.2500,25.2500,422700.0,1997-05-19,False,10298
1997-05-26,26.000,26.50,26.5000,25.3800,185600.0,1997-05-26,False,10299
1997-06-02,29.880,29.62,31.3800,26.2500,909800.0,1997-06-02,True,10300
1997-06-09,31.380,31.12,31.8800,30.2500,1191500.0,1997-06-09,True,10301
1997-06-16,29.750,29.75,33.3800,28.7500,1769000.0,1997-06-16,False,10302
1997-06-23,31.000,31.00,31.6200,29.7500,529700.0,1997-06-23,True,10303
1997-06-30,30.440,30.50,30.7500,29.1200,407000.0,1997-06-30,False,10304
1997-07-07,29.880,29.62,30.1900,29.0600,271100.0,1997-07-07,False,10305
1997-07-14,29.500,29.31,30.2500,28.1200,576500.0,1997-07-14,False,10306
1997-07-21,28.440,28.44,29.5000,27.0000,368500.0,1997-07-21,False,10307
1997-07-28,28.250,28.38,29.1900,27.0600,651900.0,1997-07-28,False,10308
1997-08-04,26.310,26.31,27.3100,25.1900,631500.0,1997-08-04,False,10309
1997-08-11,25.690,25.94,27.6200,25.5600,1300500.0,1997-08-11,False,10310
1997-08-18,28.500,28.50,28.8100,25.1200,1451800.0,1997-08-18,True,10311
1997-08-25,30.250,29.75,30.8100,28.2500,688400.0,1997-08-25,True,10312
1997-09-01,28.500,28.44,29.8800,28.3100,229800.0,1997-09-01,False,10313
1997-09-08,28.690,28.75,29.6900,27.6200,339600.0,1997-09-08,True,10314
1997-09-15,29.190,29.19,29.6900,28.3800,469500.0,1997-09-15,True,10315
1997-09-22,30.190,30.00,30.5000,28.7500,485400.0,1997-09-22,True,10316
1997-09-29,29.000,29.00,30.1900,28.3800,274700.0,1997-09-29,False,10317
1997-10-06,28.880,28.81,29.1200,28.4400,451300.0,1997-10-06,False,10318
1997-10-13,30.380,30.38,31.6900,28.6900,1488000.0,1997-10-13,True,10319
1997-10-20,29.250,29.19,31.3800,29.0000,750800.0,1997-10-20,False,10320
1997-10-27,29.380,29.50,30.4400,26.3800,682400.0,1997-10-27,True,10321
1997-11-03,28.940,28.88,30.0000,24.8800,793500.0,1997-11-03,False,10322
1997-11-10,29.750,29.12,30.0000,29.0600,450100.0,1997-11-10,True,10323
1997-11-17,29.500,29.44,29.8100,28.8800,334600.0,1997-11-17,True,10324
1997-11-24,29.500,30.12,30.2500,29.3800,682000.0,1997-11-24,True,10325
1997-12-01,30.940,30.88,34.3800,30.0000,549500.0,1997-12-01,True,10326
1997-12-08,35.560,35.50,36.5000,32.8100,856000.0,1997-12-08,True,10327
1997-12-15,34.440,34.19,38.1900,33.9400,1364300.0,1997-12-15,False,10328
1997-12-22,37.190,37.25,38.4400,35.5600,1223100.0,1997-12-22,True,10329
1997-12-29,35.750,35.88,37.7500,35.0000,313600.0,1997-12-29,False,10330
1998-01-05,38.380,38.38,39.6900,37.0000,661400.0,1998-01-05,True,10331
1998-01-12,33.000,34.75,39.0000,33.0000,675600.0,1998-01-12,False,10332
1998-01-19,33.690,33.69,36.6900,33.5000,527800.0,1998-01-19,False,10333
1998-01-26,35.000,35.25,36.0600,33.1200,1100100.0,1998-01-26,True,10334
1998-02-02,36.750,36.00,37.7500,34.3800,654100.0,1998-02-02,True,10335
1998-02-09,36.190,36.00,37.5600,35.1900,553400.0,1998-02-09,False,10336
1998-02-16,37.060,36.38,37.5000,34.8100,881400.0,1998-02-16,True,10337
1998-02-23,38.380,38.44,39.1200,36.0000,890300.0,1998-02-23,True,10338
1998-03-02,43.310,43.56,44.6200,37.5600,3055000.0,1998-03-02,True,10339
1998-03-09,46.190,45.94,47.0000,41.5600,1597000.0,1998-03-09,True,10340
1998-03-16,46.880,46.81,48.0000,45.0000,866700.0,1998-03-16,True,10341
1998-03-23,48.500,48.56,49.5000,46.0000,883000.0,1998-03-23,True,10342
1998-03-30,48.880,48.75,49.3800,46.8100,1226500.0,1998-03-30,True,10343
1998-04-06,43.880,44.12,48.9400,37.5000,2111800.0,1998-04-06,False,10344
1998-04-13,41.500,41.75,41.7500,34.6200,3405000.0,1998-04-13,False,10345
1998-04-20,42.750,43.19,43.9400,39.6200,2047600.0,1998-04-20,True,10346
1998-04-27,40.810,41.50,44.2500,39.3800,961400.0,1998-04-27,False,10347
1998-05-04,40.250,40.62,41.9400,39.3100,947300.0,1998-05-04,False,10348
1998-05-11,39.250,39.25,40.1200,38.1900,349400.0,1998-05-11,False,10349
1998-05-18,37.750,37.88,39.2500,36.5600,513500.0,1998-05-18,False,10350
1998-05-25,35.440,35.50,38.2500,33.6900,707300.0,1998-05-25,False,10351
1998-06-01,33.690,33.94,36.0000,32.6200,726800.0,1998-06-01,False,10352
1998-06-08,34.880,34.75,35.3100,32.7500,441100.0,1998-06-08,True,10353
1998-06-15,32.120,32.12,35.3100,31.6200,576900.0,1998-06-15,False,10354
1998-06-22,31.620,31.75,32.5000,30.0000,696600.0,1998-06-22,False,10355
1998-06-29,32.190,32.06,34.3800,30.5600,911700.0,1998-06-29,True,10356
1998-07-06,32.250,32.25,32.8100,31.5600,172500.0,1998-07-06,True,10357
1998-07-13,30.750,30.75,32.1200,30.1200,587500.0,1998-07-13,False,10358
1998-07-20,30.250,30.50,32.6200,28.5000,959600.0,1998-07-20,False,10359
1998-07-27,34.500,34.00,36.0000,33.2500,1446400.0,1998-07-27,True,10360
1998-08-03,32.060,32.88,35.1200,31.5600,537400.0,1998-08-03,False,10361
1998-08-10,31.000,30.75,31.7500,29.0600,562500.0,1998-08-10,False,10362
1998-08-17,30.880,30.88,32.3800,29.2500,473700.0,1998-08-17,True,10363
1998-08-24,33.060,32.81,34.3800,31.7500,678400.0,1998-08-24,True,10364
1998-08-31,30.560,30.50,34.4400,28.0000,938700.0,1998-08-31,False,10365
1998-09-07,28.750,27.38,29.8800,27.0000,1017100.0,1998-09-07,False,10366
1998-09-14,24.880,24.62,28.4400,24.0000,956400.0,1998-09-14,False,10367
1998-09-21,25.880,26.25,27.1900,24.3800,609100.0,1998-09-21,True,10368
1998-09-28,28.690,28.31,29.0600,26.5600,399000.0,1998-09-28,True,10369
1998-10-05,24.690,24.69,28.9400,24.0600,477800.0,1998-10-05,False,10370
1998-10-12,22.190,21.94,25.1900,20.4400,1025400.0,1998-10-12,False,10371
1998-10-19,25.750,26.00,26.6200,21.2500,777600.0,1998-10-19,True,10372
1998-10-26,28.380,27.88,30.7500,26.0000,926400.0,1998-10-26,True,10373
1998-11-02,31.690,31.19,33.0000,29.6200,1066400.0,1998-11-02,True,10374
1998-11-09,33.000,33.38,33.8800,32.3100,651800.0,1998-11-09,True,10375
1998-11-16,33.620,33.38,33.6200,32.2500,590800.0,1998-11-16,False,10376
1998-11-23,32.380,32.25,32.6200,31.1900,651600.0,1998-11-23,False,10377
1998-11-30,35.880,35.62,36.2500,31.8800,1037800.0,1998-11-30,True,10378
1998-12-07,35.190,35.00,35.8800,33.5000,711000.0,1998-12-07,False,10379
1998-12-14,33.440,33.44,34.5600,32.7500,404800.0,1998-12-14,False,10380
1998-12-21,34.000,34.12,35.1200,32.3800,610800.0,1998-12-21,True,10381
1998-12-28,34.310,34.44,35.1900,33.4400,241500.0,1998-12-28,True,10382
1999-01-04,37.560,37.81,38.3800,34.8100,278600.0,1999-01-04,True,10383
1999-01-11,40.440,40.38,40.5000,37.8100,993400.0,1999-01-11,True,10384
1999-01-18,38.500,38.75,39.7500,37.9400,406000.0,1999-01-18,False,10385
1999-01-25,42.810,42.94,44.1900,39.1900,1258500.0,1999-01-25,True,10386
1999-02-01,42.250,42.25,42.8100,41.0600,449800.0,1999-02-01,False,10387
1999-02-08,38.380,38.31,41.5000,36.8100,535600.0,1999-02-08,False,10388
1999-02-15,36.560,37.12,37.2500,36.1200,362100.0,1999-02-15,False,10389
1999-02-22,35.000,35.00,36.9400,34.1200,242900.0,1999-02-22,False,10390
1999-03-01,38.250,38.19,38.9400,35.5000,436400.0,1999-03-01,True,10391
1999-03-08,39.500,39.50,41.0000,38.2500,481600.0,1999-03-08,True,10392
1999-03-15,41.190,40.94,41.9400,40.0000,437500.0,1999-03-15,True,10393
1999-03-22,42.250,42.00,43.6200,40.6200,562800.0,1999-03-22,True,10394
1999-03-29,39.500,39.50,40.1200,39.0600,204100.0,1999-03-29,False,10395
1999-04-05,39.000,38.88,39.7500,38.3100,460300.0,1999-04-05,False,10396
1999-04-12,39.000,39.50,40.1900,38.0600,549900.0,1999-04-12,True,10397
1999-04-19,39.380,39.19,40.1900,37.0000,457700.0,1999-04-19,False,10398
1999-04-26,37.380,37.12,38.0000,34.6200,428500.0,1999-04-26,False,10399
1999-05-03,35.060,35.06,37.6200,33.8100,868000.0,1999-05-03,False,10400
1999-05-10,33.500,33.38,35.3100,32.3800,624200.0,1999-05-10,False,10401
1999-05-17,35.000,35.00,36.0000,33.0000,462100.0,1999-05-17,True,10402
1999-05-24,38.750,38.69,39.8100,35.3100,625000.0,1999-05-24,True,10403
1999-05-31,37.750,38.19,38.7500,36.6200,222600.0,1999-05-31,False,10404
1999-06-07,38.560,38.31,39.3100,37.6900,213400.0,1999-06-07,True,10405
1999-06-14,42.120,41.88,42.3800,38.3800,738700.0,1999-06-14,True,10406
1999-06-21,42.880,42.00,42.8800,41.0600,228000.0,1999-06-21,True,10407
1999-06-28,50.880,51.12,52.0000,41.7500,2154800.0,1999-06-28,True,10408
1999-07-05,54.190,55.75,56.3100,48.9400,846200.0,1999-07-05,True,10409
1999-07-12,53.250,53.00,55.5000,52.1900,548500.0,1999-07-12,False,10410
1999-07-19,54.620,54.62,55.8800,51.3800,799700.0,1999-07-19,True,10411
1999-07-26,57.940,58.62,59.1200,55.0600,1053600.0,1999-07-26,True,10412
1999-08-02,56.190,56.19,57.6200,54.4400,579300.0,1999-08-02,False,10413
1999-08-09,52.880,52.88,57.1200,51.5000,543800.0,1999-08-09,False,10414
1999-08-16,52.620,53.00,53.4400,50.6200,421300.0,1999-08-16,True,10415

In [69]:
def get_line_slope_and_origine(df, x1_col_name = 'x1', \
                               y1_col_name = 'y1', \
                               x2_col_name = 'x2', \
                               y2_col_name = 'y2', \
                               m_col_name = 'm', \
                               b_col_name = 'b'):
    df[m_col_name] = (df[y1_col_name] - df[y2_col_name]) / (df[x1_col_name] - df[x2_col_name])
    df[b_col_name] = df[y1_col_name] - (df[x1_col_name] * df[m_col_name])
    return df

In [70]:
hull = ConvexHull(df_weekly_price_until_max[['weekId', 'close']].dropna())

In [71]:

x = df_weekly_price_until_max['weekId'].values
y =  df_weekly_price_until_max['close'].values
trace0 = go.Scatter(
    x = x,
    y = y,
    mode = 'lines',
    name = 'lines'
)

layout = {
#     'xaxis': {
#         'range': [0, 7]
#     },
#     'yaxis': {
#         'range': [0, 2.5]
#     },
    'shapes': [{
            'type': 'line',
            'x0': x[pair[0]],
            'y0': y[pair[0]],
            'x1': x[pair[1]],
            'y1': y[pair[1]],
            'line': {
                'color': 'rgb(55, 128, 191)',
                'width': 3,
            }
        } for pair in hull.simplices
        # Line Vertical
        ]
}
data = [trace0]

# py.iplot(data, filename='line-mode')
fig = {
    'data': data,
    'layout': layout,
}

py.iplot(fig, filename='shapes-lines')

In [72]:
def get_mean_square_error(y_true, y_pred):
    y_square_diff = np.square(y_true-y_pred)
    return np.sum(y_square_diff) / len(y_true)

def nb_is_lower(y_true, y_pred):
#     print("nb_is_lower")
#     print (y_true)
#     print(y_pred.shape)
    lower_item = y_true[y_true <= y_pred]
#     print (lower_item)
    return len(lower_item )
    
def get_y(x, m, b):
    return x * m + b

In [73]:
hull_results = [ [min(pair[0], pair[1]), max(pair[0], pair[1])] for pair in hull.simplices]
data_from_to = [{"x1": df_weekly_price_until_max['weekId'].iloc[pair[0]], \
   "y1": df_weekly_price_until_max['close'].iloc[pair[0]], \
   "x2": df_weekly_price_until_max['weekId'].iloc[pair[1]], \
   "y2": df_weekly_price_until_max['close'].iloc[pair[1]]} for pair in hull_results]
df = pd.DataFrame(data_from_to)

In [74]:
df = get_line_slope_and_origine(df)

In [75]:
def calculate_mean_square_error(row, df):
    y_pred = get_y(df['weekId'], row['m'], row['b'])
    return get_mean_square_error(df['close'], y_pred)

def nb_cut_price_low(row, df):
    y_pred = get_y(df['weekId'], row['m'], row['b'])
    return nb_is_lower(df['low'], y_pred)

df['angle'] = np.rad2deg(np.arctan2(df['m'], 1))
df['days'] = np.abs(df['x1'] - df['x2'])
df['mean_square_error'] = df.apply(lambda row: calculate_mean_square_error (row, df_weekly_price),axis=1)
df['nb_is_lower'] = df.apply(lambda row: nb_cut_price_low(row, df_weekly_price),axis=1)
df['ratio_error_cut'] = df['mean_square_error'] / df['nb_is_lower']
df['ratio_slope_y1'] = df['m']/df['y1']
df['ratio_slope_y2'] = df['m']/df['y2']

In [76]:
df.sort_values(['x1'])

,x1,x2,y1,y2,m,b,angle,days,mean_square_error,nb_is_lower,ratio_error_cut,ratio_slope_y1,ratio_slope_y2
0,10135,10228,7.00,84.50,0.833333,-8438.833333,39.805571,93,3.199170e+05,1253,255.320809,0.119048,0.009862
2,10135,10136,7.00,5.75,-1.250000,12675.750000,-51.340192,1,8.889981e+05,2,444499.026219,-0.178571,-0.217391
3,10136,10138,5.75,4.75,-0.500000,5073.750000,-26.565051,2,1.619424e+05,4,40485.596365,-0.086957,-0.105263
4,10138,10893,4.75,7.39,0.003497,-30.699430,0.200345,755,3.028963e+03,7,432.709047,0.000736,0.000473
1,10228,11248,84.50,257.53,0.169637,-1650.549843,9.627844,1020,2.122960e+04,1253,16.943020,0.002008,0.000659
6,10893,10899,7.39,7.51,0.020000,-210.470000,1.145763,6,3.062737e+03,62,49.398986,0.002706,0.002663
11,10899,10979,7.51,14.15,0.083000,-897.107000,4.744674,80,3.969321e+03,113,35.126733,0.011052,0.005866
10,10979,10981,14.15,14.60,0.225000,-2456.125000,12.680383,2,1.200832e+04,118,101.765425,0.015901,0.015411
5,10981,11089,14.60,45.27,0.283981,-3103.800648,15.853565,108,1.748305e+04,135,129.504068,0.019451,0.006273
9,11089,11109,45.27,55.28,0.500500,-5504.774500,26.587965,20,5.527978e+04,138,400.578110,0.011056,0.009054
8,11109,11197,55.28,109.17,0.612386,-6747.720114,31.482734,88,8.446394e+04,137,616.525077,0.011078,0.005609
7,11197,11206,109.17,118.29,1.013333,-11237.123333,45.379437,9,2.660867e+05,138,1928.164366,0.009282,0.008567
17,11206,11207,118.29,120.21,1.920000,-21397.230000,62.487997,1,1.069920e+06,143,7481.958584,0.016231,0.015972
18,11207,11210,120.21,126.11,1.966667,-21920.223333,63.047821,3,1.125999e+06,143,7874.119233,0.016360,0.015595
16,11210,11217,126.11,141.46,2.192857,-24455.818571,65.485778,7,1.419384e+06,145,9788.857217,0.017388,0.015502
14,11217,11218,141.46,144.45,2.990000,-33397.370000,71.507583,1,2.738599e+06,148,18504.048373,0.021137,0.020699
15,11218,11244,144.45,228.49,3.232308,-36115.577692,72.809162,26,3.225593e+06,152,21221.003895,0.022377,0.014146
13,11244,11246,228.49,236.10,3.805000,-42554.930000,75.274969,2,4.584117e+06,144,31834.142823,0.016653,0.016116
12,11246,11248,236.10,257.53,10.715000,-120264.790000,84.668195,2,3.994104e+07,143,279308.001585,0.045383,0.041607

In [77]:
print('Valeant : {}', 2.99/257.53)
print('netflix : {}', 7.065833/680.600)
print('amazon : {}', 6.250000/ 1578.89)

Valeant : {} 0.011610297829379104
netflix : {} 0.010381770496620629
amazon : {} 0.003958477158003407

In [78]:
# def get_line_slope(row):
#     return (row.close_from - row.close_to) / (row.weekId_from - row.weekId_to)

# weekId_close_from_to['slope'] = weekId_close_from_to.apply (lambda row: get_line_slope(row),axis=1)



# weekId_close_from_to

# # m = -0.110000
# # b = 1092.930000
# # m = 15.82
# # b = -177675.62
# def is_phase_below(m, b):
# #     m = row.m
# #     b = row.b
#     df = df_weekly_price
#     df_weekly_close = df[["weekId", "close"]]
#     df_weekly_close['ln_y'] = (df_weekly_close.weekId * m) + b
#     df_weekly_close['is_below'] = df_weekly_close.ln_y.le(df_weekly_close.close) | np.isclose(df_weekly_close['ln_y'], df_weekly_close['close'])
#     return df_weekly_close['is_below'].all()


# weekId_close_from_to['is_below'] = weekId_close_from_to.apply (lambda row: is_phase_below(row, df_weekly_price),axis=1)
# is_phase_below()

# weekId_close_from_to['r'] = weekId_close_from_to(weekId_close_from_to['m'], weekId_close_from_to['b'] )

# weekId_close_from_to
# import numpy as np
# import pandas as pd
# np.seterr(divide='ignore', invalid='ignore')



# df = df_weekly_price_until_max[:15].rename(columns={'weekId':'x', 'close': 'y'})


# data = {'x':[1,2,3,4],'y':[5,6,10,12]}
# df = pd.DataFrame(data)



# calculate m and b from y = mx = b
# df_m = (df['y'].values - df['y'].values[:, None]) / (df['x'].values - df['x'].values[:, None])
# df_b = df['y'].values - (df['x'].values * df_m)


# import itertools
# nb_partition = int((df['x'].values.shape[0] / 10)) + 1
# x_values_split = np.array_split(df['x'].values, nb_partition) 
# y_values_split = np.array_split(df['y'].values, nb_partition)              


# def get_y_values(x_value, m, b):
#     x_lenght = x_values.shape[0]
#     cube_shape = (x_lenght, 1, 1)
#     x_cube = np.reshape(x_values, cube_shape)
    
#     return (x_cube * m) + b 

# def get_is_line_above_close(x_values, y_values, m, b):
#     y_lenght = y_values.shape[0]
#     cube_shape = (y_lenght, 1, 1)
    
#     y_cube = np.reshape(y_values, cube_shape)
#     return get_y_values(x_values,m, b) < y_cube

    
# result = [get_y_vlowalues(x_values, df_m, df_b) for (x_values, y_values) in itertools.zip_longest(x_values_split, y_values_split )]
#     x_lenght = x_values.shape[0]
#     cube_shape = (x_lenght, 1, 1)
    
#     x_cube = np.reshape(x_values, cube_shape)
#     y_cube = np.reshape(y_values, cube_shape)
#     cube_y_value_calculated =  (x_cube * df_m) + df_b 

# x_values = x_values_split[0]
# y_values = y_values_split[0]              
# x_lenght = x_values.shape[0]
# cube_shape = (x_lenght, 1, 1)

# x_cube = np.reshape(x_values, cube_shape)
# y_cube = np.reshape(y_values, cube_shape)